* {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.App {
  /* background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); */
  width: 100%;
  height: 100vh;
  font-family: "Helvetica Neue", Helvetica-Neue, HelveticaNeue, Arial,
    sans-serif;
}

.home__background__stuff {
  height: 100vh;
  width: 100%;
}

.home__background > img {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  object-fit: cover;
  z-index: -999;

  background-color: RGBA(0, 0, 0, 0.1);
}
