* {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  box-sizing: border-box;

  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.App {
  /* background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); */
  width: 100%;
}

.home__background__stuff {
  height: 100vh;
  width: 100%;
}

.home__background > img {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  image-resolution: smooth;
  z-index: -999;
  background-color: RGBA(0, 0, 0, 0.1);
}
