.browsePost__Container {
  width: 95%;
  border-radius: 10px;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
}

.browsePost-image {
  width: 400px;
  object-fit: unset;
  justify-content: center;
  align-items: center;
  max-height: 300px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.browsePost__leftContainer {
  flex: 0.5;
}
.browsePost__rightContainer {
  flex: 0.5;
}

.imageContainer {
  width: 100%;
  height: 250px;
  margin-top: 2em;
}

.browsePost_media__preview {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: auto;
}

.browsePost__rightContainer {
  margin: 0px 20px;
  padding: 10px;
  cursor: pointer;
}

.browsePost__rightContainer > h2 {
  margin-bottom: 10px;
}

.span__titleBrowse {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.span__title2Browse {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 12px;
  position: relative;
}

@media only screen and (max-width: 1565px) {
  .browsePost-image {
    width: 350px;
    transition: all 0.3s ease-in-out;
  }
}

@media only screen and (max-width: 1460px) {
  .browsePost-image {
    width: 300px;
    transition: all 0.3s ease-in-out;
  }
}

@media only screen and (max-width: 1335px) {
  .browsePost-image {
    width: 100%;
  }
  .browsePost__Container {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .browsePost__rightContainer {
    width: fit-content;
    margin: auto;
  }
  .span__titleBrowse {
    width: 70%;
  }
}

@media only screen and (max-width: 545px) {
  .span__titleBrowse,
  .span__title2Browse {
    width: 100%;
  }
  .span__title2Browse {
    margin: 10px 0px;
  }
  .browsePost__rightContainer {
    margin: 0px 10px;
  }
}
