.header {
  top: 0;
  width: 100%;
  height: 100px;
  padding: 4px 0px;
  margin: 0px auto;
  text-transform: capitalize;
  box-sizing: border-box;
  background-color: transparent;
  z-index: 100;
  transition: all 0.5s ease-in-out;
}

.header_background {
  top: 0;
  width: 100%;
  height: 100px;
  padding: 4px 0px;
  margin: 0px auto;
  text-transform: capitalize;
  box-sizing: border-box;
  background-color: white;
  z-index: 100;
}

.header.active,
.header_background.active {
  background-color: #fffdfd;
  z-index: 100;
  transition: all 0.5s ease-in-out;
}

.header ul,
.header_background ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header__logoContainer {
  display: flex;
  flex: none;
  float: left;
  font-size: 1.5em;
  text-decoration: none;
  line-height: normal;
  margin-left: 2%;
  align-items: center;
  justify-content: center;
}

.header__logoContainer > img {
  object-fit: scale-down;
  margin-right: 20px;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  height: fit-content;
  margin-top: 0px;
}

.selectedPage {
  text-decoration: underline;
}

.header li a,
.header li a:hover,
.header_background li a,
.header_background li a:hover {
  display: block;
  margin-left: auto;
  padding: 15px 20px;
  margin-left: 2px;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 500;
  font-size: 16px;
  transition: all 0.2s ease-out;
}

.header .menu,
.header_background .menu {
  clear: both;
  max-height: 0;
  transition: max-height ease-out;
  align-self: center;
  margin-right: 2%;
}

/* menu icon */
.header .menu-icon,
.header_background .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon,
.header_background .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after,
.header_background .menu-icon .navicon:before,
.header_background .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before,
.header_background .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after,
.header_background .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn,
.header_background .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu,
.header_background .menu-btn:checked ~ .menu {
  max-height: 500px;
  background-color: inherit;
  width: 100%;
  transition: all 0.4s ease-in-out;
}

.header .menu-btn:checked ~ .menu-icon .navicon,
.header_background .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before,
.header_background .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after,
.header_background .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after,
.header_background .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after,
.header_background .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before {
  top: 0;
}

@media (min-width: 1035px) {
  .header li,
  .header_background li {
    float: left;
  }
  .header,
  .header_background {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header .menu,
  .header_background .menu {
    max-height: none;
  }
  .header .menu-icon,
  .header_background .menu-icon {
    display: none;
  }
  .header li a:hover,
  .header_background li a:hover {
    /* background-color: antiquewhite; */
    transform: scale(1.2);
  }
}

@media (max-width: 1035px) {
  .header,
  .header_background {
    font-size: 12px;

    height: 80px;
  }

  .header__logoContainer > img {
    margin-top: 15px;
  }

  .logo {
    width: 50px;
  }

  .header .menu-icon,
  .header_background .menu-icon {
    margin-top: 10px;
  }

  .header li a {
    font-size: 18px;
  }
  .header li a:hover {
    transform: scale(1.026);
  }

  .header .menu-icon .navicon,
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after,
  .header_background .menu-icon .navicon,
  .header_background .menu-icon .navicon:after,
  .header_background .menu-icon .navicon:before {
    background: black;
  }
}

@media (max-width: 970px) {
  .header,
  .header_background {
    font-size: 12px;
  }
  .header li a,
  .header_background li a {
    font-size: 15px;
  }
}
