* {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.bot__container {
  display: grid;
  width: 100%;
  height: 80vh;
  place-items: center;

  /* display: flex;

  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px; */
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  padding-top: 1rem;
  justify-content: space-evenly;

  /* margin: auto;
  padding-top: 40px; */
}

.home__title > h2 {
  color: #000000;
  margin: auto;
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  width: 100%;
  position: relative;
}

.home__subtitle > h1 {
  color: #3e3d3d;
  margin: auto;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  font-family: monospace;
  width: 100%;
  position: relative;
}

.buttonContainer > Button {
  display: block;
  text-transform: inherit !important;
  background-color: #3793a7;
  background-color: #3793a7 !important;
  margin-top: 25px;
  width: 150px;
  height: 3.1em;
  font-size: 16px;
  color: #fffdfd;
}

.features__container {
  width: 100%;

  margin-top: 6rem;
  padding: 20px;
}

.features {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 4rem auto;
}

.features__wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 400px;
}

.features__wrapper > img {
  object-fit: contain;
  image-resolution: smooth;
  width: 85px;
  display: block;
  margin: 5px auto;
}

.features__wrapper > h2 {
  display: block;
  width: fit-content;
  margin: 0 auto;
}

.features__wrapper > p {
  width: 80%;
  margin: 15px auto;
  text-align: center;
}

.contact-us__container {
  width: 100%;
  margin: 0 auto;
}

.contact-us__wrapper {
  display: block;
  width: 75%;
  height: 100%;
  background-color: white;
  padding: 40px 30px;
  margin: 0px auto;
  box-shadow: 0 0 25px 0 rgb(0 0 0 / 17%);
  border-radius: 10px;
  justify-content: center;
  transition: all 0.6s ease;
  margin-bottom: 50px;
}

.contact-us {
  width: 80%;
  margin: auto;
}

.contact-us > h1 {
  margin-bottom: 30px;
}

.contact-us > p {
  margin-top: 12px;
  font-size: 17px;
  line-height: 25px;
  color: rgb(61, 61, 61);
}

.contact-us > Button {
  display: block;
  text-transform: inherit !important;
  background-color: #ff7700 !important;
  margin-top: 25px;
  width: 130px;
  font-size: 16px;
}

#line-break {
  border: none;
  border-radius: 20px;
  margin-top: 5px;
  width: 40px;
  height: 5px;
  background-color: #ff7700;
}

#row_one {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  margin: 0 15px;
  margin-top: 30px;
}

#row_one_input2,
#second_row_second {
  margin: 0 50px;
}

#row_one > input {
  height: 50px !important;
  padding-left: 10px;
  font-size: 17px !important;
  width: 40%;
  border: 1px solid #ced4da;
  color: #495057;
}

#row_one3 {
  display: flex;
  width: 85%;
  margin: 0 15px;
  margin-top: 30px;
  transition: all 0.3s ease-in-out;
}

#row_one3 > textarea {
  height: 160px !important;
  padding-left: 10px;
  padding-top: 10px;
  font-size: 17px !important;
  width: 100%;
  border: 1px solid #ced4da;
  color: #495057;
}

/* .footer {
  background :#000000;
  color : #ffffff;
  height: 330px;
  position: relative;
 
}
.footer .footer-content{
  padding-top: 50px;
  border-top: 4px solid rgb(255, 132, 0);
  display: flex;
  text-align:center;
}
.footer .footer-content .footer-section{
  flex: 1;
}

#footerInfo {
  margin-top: 10px;
}

.footer .footer-socials{
  padding-top: 10px;
  height: 100px;
  position: absolute;
  bottom:0px;
  left:0px;
  width:100%;
  text-align: center;
  background:rgb(255, 255, 255)
}

.footer .footer-bottom{
  background:rgb(255, 255, 255);
  color : #000000;
  height: 50px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-top: 20px;
} */

@media only screen and (max-width: 1325px) {
  #row_one3 {
    width: 87%;
  }
}

@media only screen and (max-width: 1025px) {
  .features__container {
    margin-top: 12rem;
  }
}

@media only screen and (max-width: 1270px) {
  .contact-us {
    width: 100%;
  }

  .contact-us__wrapper {
    width: 90%;
  }
}

@media only screen and (max-width: 768px) {
  .features {
    flex-direction: column;
    margin: 0 0;
  }

  .features__wrapper {
    margin-bottom: 20px;
    width: fit-content;
  }

  .features__container {
    margin-top: 11rem;
  }

  #row_one {
    flex-direction: column;
    margin: 15px 0px;
  }

  #row_one > input {
    width: 100%;
    margin-bottom: 20px;
  }

  #second_row_first {
    margin-top: -15px;
  }

  #row_one3 {
    margin: 0px 0px;
    margin-top: -15px;
    width: 100%;
  }
}
