.Login {
  width: 100%;
  height: 100vh;
  /* background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); */
}

.login__container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.login__leftContainer {
  flex: 0.5;
  width: 50%;
  height: 100vh;
  flex-direction: column;
}

.login__leftContainer > img {
  display: grid;
  place-items: center;
  width: 750px;
  height: 100vh;
  object-fit: contain;
}

.login__rightContainer {
  flex: 0.6;
  width: 50%;
  height: 100vh;
}

.login__leftWrapper {
  display: grid;
  place-items: center;
  height: 100vh;
}
.login__signInWrapper {
  display: grid;
  place-items: center right;
  height: 100vh;
}

.login__leftHeaderContainer {
  height: 65vh;
}

.login__signInContainer {
  width: 100%;
  height: 100vh;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background-image: linear-gradient(to left bottom, #88d3ce 0%, #6e45e2 100%);
}

.login__signInHeader {
  width: fit-content;
  margin: 15px auto;
  margin-top: 28vh !important;
}
.login__signInHeader > h2 {
  font-weight: 700;
  color: #f4f5f5;
}

.login__leftHeader {
  margin-left: 1%;
}

#logo {
  width: initial;
  position: absolute;
  cursor: pointer;
  margin-top: -100px;
  margin-left: -10px;
}

.login__leftHeader > h1 {
  font-weight: 700;
}

.login__leftHeader > p {
  margin-top: 30px;
  font-weight: 450;
}

.login__leftHeader > p > strong {
  color: #4461f2;
  cursor: pointer;
}

.login__leftHeader > img {
  width: 700px;
  margin-top: 50px;
}

.login__signInContainer > form {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
}

.email,
.password {
  width: 300px;
  margin: 14px auto;
  height: 50px;
  border-radius: 10px;
  padding: 0px 10px;
  border: 1px solid gray;
}

.password {
  width: 100% !important;
}

form > span {
  width: 300px;
  margin: 0 auto;
}

.bi-bi-eye-slash {
  position: absolute;
  margin-top: 25px;
  margin-left: -40px;
  padding: 2px;
  z-index: 5;
  cursor: pointer;
}

.email:active,
.password:active {
  border: none;
}

.email:focus,
.password:focus {
  outline: none;
}

.signIn__Container {
  width: 100%;
  margin-top: 10px;
}

.signIn__Container > Button,
.signIn__Divider > Button {
  display: block;
  text-transform: inherit !important;
  background-color: #4461f2 !important;
  width: 300px;
  height: 45px;
  font-size: 16px;
  margin: 0 auto;
  border-radius: 10px;
  font-weight: 500;
}

.signIn__Divider {
  width: 100%;
  display: block;
}

.sign__DividerContainer {
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px auto;
}
.sign__DividerContainer > p {
  position: relative;
  width: fit-content;
  color: #f4f5f5;
}
.sign__DividerContainer > hr {
  display: inline-block;
  width: 100%;
  height: 1px;
  border: none;
  background-color: #f4f5f5;
  align-items: center;
  justify-content: center;
  margin: 0px 12px;
}

.googleSpanContainer {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.googleButtonImage {
  width: 25px;
  margin-right: 10px;
}

#googleButton {
  background-color: white !important;
  color: black !important;
}
