.myPosting {
  margin-top: -6.3rem;
  width: 100%;
  min-height: 100%;
}

.myPosting__wrapper {
  padding-top: 5.8rem;
}

.myPosting__wrapper > h1 {
  display: block;
  width: fit-content;
  margin: auto;
  font-weight: 500;
}

.myPosting__wrapper > hr {
  display: block;
  width: 85%;
  margin: 15px auto;
}

.post__wrapper {
  width: 85%;
  height: 18rem;
  margin: 1.5rem auto;
  border-radius: 10px;
}

.post__container {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  flex-direction: row;
  margin-bottom: 1.5rem;
  /* padding: 5px; */
}

.post__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.post__leftContainer {
  margin-right: 1em;
  min-width: 30rem;
}

.post__imageIcon {
  margin: 0.25rem;
}

.post__bedroom__washroom > h4 {
  margin: 0.25rem;
}

#washrooms {
  margin-left: 5rem;
}

.post__rightContainer {
  width: 65%;
  height: 100%;
}

.post__rightContainer > h2 {
  margin-top: 0.25rem;
}

.post__rightContainer > h4 {
  margin-top: 0.9rem;
  margin-left: 2px;
}

.post__bedroom__washroom {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  margin-left: -0.25rem;
}

.post__rightContainer > p {
  margin-top: 0.9rem;
  overflow: auto;
  width: 100%;
}
.post__rightContainer > Button {
  display: block;
  margin-top: 0.9rem;
  text-transform: inherit !important;
  background-color: #3399ff !important;
  width: 100px;
  font-size: 16px !important;
  color: #dfdfdf !important;
}
