.postView {
  width: 100%;
  height: 100vh;
  margin-top: -100px;
  /* background-color: gray; */
}

.postView__wrapper {
  padding-top: 110px;
  width: 100%;
}
.postView__flex {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.postView__flexLeft {
  flex: 1;
  padding-left: 2%;
}

.postView__flexRight {
  flex: 1.7;
}

.postView-image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  image-resolution: smooth;
  object-fit: contain;
}

#postView__Media {
  width: 100%;
  border-radius: 10px;
}

.postView_media__preview {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
}

.postView__flexLeft > h1 {
  font-weight: 600;
  line-height: 30px;
  text-align: start;
  font-size: 1.7rem;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
}

.postView__flexLeft > p {
  font-weight: 450;
  margin-top: 1rem;
}

.postView__card {
  width: 100%;
  height: 15rem;
  margin-top: 2.5rem;
  border-radius: 20px;
  padding: 20px;
}

.message__card {
  min-height: 15rem;
  width: 100%;
  margin-top: 1.3rem;
  border-radius: 20px;
  padding: 20px;
  border: 1px solid gray;
}

.postView__card > h2 {
  font-weight: 600;
  font-size: 1.3rem;
  text-transform: capitalize;
  width: fit-content;
  margin-bottom: 0.5rem;
  display: block;
}

.postView__featuresContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  flex-direction: column;
}

.postView__featuresContainer > p {
  margin: 10px;
}

.sellerContainer__header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sellerContainer__header > h2 {
  font-weight: 600;
  font-size: 1.3rem;
  text-transform: capitalize;
  width: fit-content;
  display: block;
  margin-left: 20px;
}

.postView__sellerContainer > textarea {
  margin-top: 1rem;
}

.messageContainer {
  width: 100%;
  min-height: 7em;
  padding-left: 10px;
  padding-top: 10px;
  font-size: 1.2em;
  margin-top: 10px;
}

.sendButton {
  background-color: #3399ff !important;
  color: white !important;
  text-transform: none !important;
  margin-top: 0.5rem !important;
}

.postView__additionalDetails {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.postView__additionalDetails > h1 {
  display: block;
  width: fit-content;
  margin: 1.5rem auto;
  font-weight: 600;
  line-height: 30px;
  text-align: start;
  font-size: 1.7rem;
  text-transform: capitalize;
}

.postView__columns {
  width: 90%;
  display: flex;
  flex-direction: row;
  margin: auto;
}

.postView_columnItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.postView_columnsContainer {
  width: 25%;
  border-right: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

#columnLine1 {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.9);
}

.postView_columnItemLine2 > p {
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.7);
}

.postView_columnItemLine2 {
  display: flex;
  flex-direction: column;
}

#lastColumn {
  border-right: none;
}

.postView__description {
  width: 90%;
  min-height: 20rem;
  margin: auto;
  margin-top: 1.5rem;
}

.postView__description > h2 {
  display: block;
  width: fit-content;
  margin: 1.5rem 0px;
  font-weight: 600;
  line-height: 30px;
  text-align: start;
  font-size: 1.7rem;
  text-transform: capitalize;
}

.postView__description > p {
  line-height: 23px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
}
