* {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

/*Utility Classes*/
.text-grey {
  color: #a1a1a6;
  margin-bottom: 10px;
  padding-bottom: 5px;
  /*font-size: 0.9rem;*/
}

.title {
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 50px;
  font-weight: bold;
}

.subheading {
  margin-top: 15px;
  padding: 3px 0px;
  font-weight: 500;
  font-size: 1.2rem;
}

.dropdown {
  width: 90%;
  height: 40px;
  border-radius: 5px;
  padding: 0px 10px;
  border: 0px;
  margin-top: 10px;
  background: #f5f5f5;
}

/*End of the utility classes*/

/*Remaining css*/

#form-info-media {
  margin-top: 10px;
}

input {
  background-color: #f5f5f5;
}

h2 {
  font-weight: bold;
}

.seller {
  margin-top: -100px;
  background: #fff;
}

.media input {
  color: #f5f5f5;
}
.seller__wrapper {
  width: 100%;
  padding-top: 6rem;
}

.seller__wrapper > h2 {
  display: block;
  width: fit-content;
  margin: auto;
  /*font-weight: 400;*/
  padding-top: 20px;
  margin-top: 100px;

  /*
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px;
  */
}

.seller__wrapper > hr {
  display: block;
  width: 85%;
  margin: 15px auto;
}

hr {
  display: block;
  /*margin: 15px auto;*/
  margin: 40px 0px;
  color: #a1a1a6;
}

.newPostingForm {
  display: block;
  width: 80%;
  margin: auto;
}

.listing__Details > h2,
.rental__Details > h2,
.price__Details > h2,
.media > h2 {
  font-weight: 500;
  margin-bottom: 15px;
}

.rental__Details > h2,
.price__Details > h2,
.media > h2 {
  margin-top: 50px;
}

.price__Details {
  margin-top: 30px;
}

.seller__inputField {
  width: 98.5%;
  height: 40px;
  border-radius: 5px;
  padding: 0px 10px;
  border: 0px solid rgb(168, 168, 168);
  margin-top: 10px;
  transition: all 0.2s ease-out;
}

.seller__inputField:focus,
.seller__inputFieldFlex:focus,
.description:focus {
  outline: none;
  transition: all 0.2s ease-out;
}

.flex__form {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0px 15px;
}

.seller__inputFieldFlex {
  width: 90%;
  height: 40px;
  border-radius: 5px;
  padding: 0px 10px;
  border: 0px solid gray;
  margin-top: 10px;
  transition: all 0.2s ease-out;
}

.inputFieldFlex__DropDown {
  width: 92%;
  height: 40px;
  border-radius: 5px;
  padding: 0px 10px;
  border: 0px solid gray;
  margin-top: 10px;
  transition: all 0.2s ease-out;
}

.dropDown > .Dropdown-control {
  height: 40px !important;
  margin-top: 14px !important;
  margin-left: -10px;
  padding-top: 10px !important;
  transition: all 0.2s ease-out;
}

.dropDown > .Dropdown-root {
  transition: all 0.2s ease-out;
}

.inputFieldFlex__Coed {
  width: 15%;
  height: 40px;
  border-radius: 5px;
  padding: 0px 10px;
  border: 0px solid gray;
  transition: all 0.2s ease-out;
}

#sellerFormInfoFlex {
  margin-bottom: 15px;
  flex: 1;
}

#formInfo > label,
#sellerFormInfoFlex > label {
  display: block;
  margin: 0 0 0.28571429rem;
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.92857143em;
  font-weight: 700;
  text-transform: none;
}

.feature__form {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex: 1;
  justify-content: space-evenly;
  margin-top: 10px;
}

.feature__column {
  display: flex;
  flex-direction: column;
}

.feature__column > span > label {
  margin-left: 10px;
}

.feature__column > span {
  margin-bottom: 5px;
  margin-top: 5px;
}
.feature__column > span > input {
  margin: 0.4rem;
}

.description {
  width: 98.5%;
  min-height: 9em;
  padding-left: 10px;
  padding-top: 10px;
  font-size: 14px;
  border: 0px solid transparent;
  margin-top: 10px;
}

#genderSpecific {
  min-width: 15% !important;
  max-width: 20% !important;
}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 0px dashed rgb(0, 26, 255);
  border-radius: 5px;
  background-color: #f5f5f5;
  display: inline-block;
  padding: 5px 10px;
  height: 90%;
  cursor: pointer;
  width: 100%;
  margin: auto;
}

#formInfoMedia {
  display: flex;
  width: 97%;
  flex-direction: column;
  margin: 0px 15px;
  margin-bottom: 15px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}

.custom-file-upload > p {
  width: max-content;
  padding-block: 2.5em;
  margin: auto !important;
}

.media__preview {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin: auto;
}

.image {
  width: 100%;
  max-height: 800px;
  border-radius: 10px;
  padding: 10px;
  image-resolution: smooth;
  object-fit: contain;
}

.media__previewHide {
  display: none;
}

.right-arrow {
  position: absolute;
  top: 45%;
  right: 32px;
  font-size: 3rem;
  color: black;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 45%;
  left: 32px;
  font-size: 3rem;
  color: black;

  cursor: pointer;
  user-select: none;
}

.delete-icon {
  position: absolute;
  top: 85%;
  bottom: 32px;
  font-size: 3rem;
  color: black;

  cursor: pointer;
  user-select: none;
}

.submitFormContainer {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
}

.submitFormContainer > Button {
  display: block;
  text-transform: inherit !important;
  background-color: #3399ff !important;
  width: 150px;
  height: 50px;
  font-size: 16px !important;
  color: white !important;
  margin: auto !important;
}

.description:focus {
  outline: none !important;
}

input:disabled {
  background-color: rgb(136, 136, 136);
  transition: all 0.2s ease-out;
}

@media only screen and (max-width: 1280px) {
  .inputFieldFlex__Coed {
    width: 30%;
  }
}

@media only screen and (max-width: 885px) {
  .feature__form {
    flex-direction: column;
  }
  .inputFieldFlex__Coed {
    width: 30%;
  }
}

@media only screen and (max-width: 765px) {
  .flex__form {
    flex-direction: column;
    width: 104%;
  }
  .inputFieldFlex__Coed {
    width: 100%;
  }
}
@media only screen and (max-width: 580px) {
  .custom-file-upload {
    height: 100%;
  }
  .delete-icon {
    top: 70%;
  }
}
